**/.terraform/*

*.tfstate
*.tfstate.*
*.tfstate.backup

.terraform.tfstate.lock.info

tfplan
*.tfplan
tfplan*

*.tfvars
*.tfvars.json
!*.tfvars.example

override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log
crash.*.log

__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
ENV/

benchmarks/results